
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: -1px;
  background-color: #182C3E;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.customer{
  padding: 1em;
}

.waiter{
  padding: 1em;
}

.address{
  padding: 1em;
}

.product{
  padding: 1em;
}

.category{
  padding: 1em;
}

.order{
  padding: 1em;
}

.order_line{
  padding: 1em;
}

.comment{
  padding: 1em;
}
.main{
  padding: 1em;
}

.title{
  line-height: 2em;
  color:white;
  opacity: 0.9;
}

.btns{
  color:red;
  margin-bottom: 5em;
  margin-top:10px;
  margin-bottom:20px;
}

.navitem{
  font-size: 1.3em
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 255);
  margin: 16px;
}

.header{
  /* color:blue; */
  height:100px;
  width:100%;
  background-color: #182C3E;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
}

.Footer{
  font-size: 0.6em;
  color:#182C3E
}

.breadcrumb{
  margin-bottom:20px;
}

.search{
  float:right 
}

.back{
  float:right 
}