
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.customer{
  padding: 1em;
}

<<<<<<< HEAD
.waiter{
  padding: 1em;
}

.address{
  padding: 1em;
}

.pruduct{
  padding: 1em;
}

.order{
  padding: 1em;
}

.order_line{
  padding: 1em;
}

.comment{
=======
.product{
>>>>>>> d4b6766187f178f986eadb9f1dc7efc9eb23679d
  padding: 1em;
}

.title{
  line-height: 2em;
}

.btns{
  color:red;
  margin-bottom: 5em;
}
